<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome, {{user.username}} </h2>
        <a id="logoutLink" href="/logout">Log Out</a>
        <h2 id="welcomeText">You are here. Good. <br>
        You are logged in as "{{user.username}}"
        </h2>
        <a id="editLink" href="/user">Make New Demotivational Poster</a>
            <p>
  
       <div ng-repeat="poster in user_images">
           <center>
               <div style="width: 1000px; color: white; background-color: black; margin: 30px;">
                   <center>
                       <img ng-src="{{poster.imageURL}}" style="max-width: 900px; max-height: 900px; padding: 10px; border: 3px solid white;"></img>
                       <h1><u>{{poster.title}}</u></h1>
                       <h4>{{poster.subtitle}}</h4>
                   </center>
               </div>    
           </center>
           <br>
       </div> 
       
    </div>
   
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>