<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">Make New Demotivational Poster</p>
        <form method="POST" action="/user/update">
            <label>Title:</label>
            <input type="text" id="title" name="title"><br>
            <label>Subtitle:</label>
            <input type="text" id="subtitle" name="subtitle"><br>          
            <label>URL:</label>
            <input type="text" id="imageURL" name="imageURL"><br>   
            <input type="submit" id="save" value="Add">
        </form>
    </div>
    <!--<form method="POST" action="/user/delete">-->
    <!--    <input type="submit" id="delete" value="Delete User">-->
    <!--</form>-->
    <hr>
    <span id="userMsg">
    <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>
